.col-sm {
  margin-top: 245px;
} 

ul {
  height: 800px;
  overflow: auto;
}

.col-sm h1{
  text-align: center;
  color: white;
  text-shadow: 4px 4px 8px #000000;
}

.form-group {
  color:rgb(235, 227, 228)
}

.col-form-label {
  color: white;
  text-shadow: 4px 4px 8px #000000;
}




.list-group-item {
  margin-bottom: 10px;
}

.container-fluid {
  background-image: url('./Graduation.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 1000PX;
}

body {
  overflow-y: auto;
}
